@import 'helper.scss';

    $primary: #9356DC;
    $secondary: #FF79DA;
    $tertiare: #99E2D0;
    $gray: #666666;

/* CSS du loader */
.loader__container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;;
    z-index: 9999;
    animation: desapear 1s linear forwards;
    animation-delay: 3s;
}
@keyframes desapear {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
.loader{
    width: 8rem;
    height: 8rem;
    text-align: center;
    line-height: 8rem;
    border: 8px solid #fdcff0;
    border-radius: 50%;
    color: #FF79DA;
    position: relative;
    box-shadow: 0 0 20px 8px grey;
    .image{
        height: 80px;
        width: 80px;
        background-color: #99E2D0;
        font-size: 4em;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 100;
        animation: ecrase 3s linear forwards;
    }
    span{
        font-size: 4em;
        line-height: 8rem;
        color: #FF79DA;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}

@keyframes ecrase{
    to{
        height: 0;
    }
}
.loader::before{
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border: 8px solid rgba(128, 128, 128, 0.548);
    border-radius: 50%;
    border-top-color:  transparent;
    animation: rotate 5s linear infinite reverse;
    
}
.loader::after{
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 8rem;
    height: 8rem;
    border: 8px solid transparent;
    background-color: transparent;
    border-radius: 50%;
    border-top-color: #FF79DA ;
    animation: rotate 1s linear infinite;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

/* CSS du site  */
@media (min-width: 450px){
    .site{
        width: 450px;
        margin: 0 auto;
    }
}
.site{
    overflow: hidden;
}
.header{
    padding: 0 0 4rem 0;
    .site__title{
        text-align: center;
        padding: 20px 0;
        font-size: 2.2em;
        font-weight: 900;
        font-family: 'Shrikhand', cursive;
        box-shadow: 0 0 8px 3px rgb(148, 148, 148);
        width: 100%;
        background-color: white;
        position: relative;
        z-index: 999;
    }
    .location{
        text-align: center;
        padding: 18px;
        background-color: rgb(218, 218, 218);
        font-weight: 600;
        color: #424242;
        span{
            margin-right: 18px;
        }
    }
    .intro{
        background-color: rgb(240, 239, 239);
        display: flex;
        justify-content: space space-around;
        align-items: center;
        flex-direction: column;
        padding: 10% 15%;
        .intro__title{
            font-size: 1.3em;
            font-weight: 800;
            margin-bottom: 40px;
        }
        .intro__text{
            text-align: center;
            margin-bottom: 40px;
            color: gray;
        }
        .intro__action{
            border: none;
            padding: 18px 30px;
            background: linear-gradient(to bottom right, $secondary, $primary);
            border-radius: 40px;
            font-size: 1.2em;
            color: white;
            box-shadow: 0 0 3px rgba(160, 160, 160, 0.849);
            cursor: pointer;
            text-shadow: 0 0 3px white;
            &:active, &:focus{
                outline: 0;
            }
            &:hover{
                background: linear-gradient(to bottom right, $primary , $secondary);
                transform: scale(1.01);

            }
        }
        
    }
    .help{
        .help__title{
            font-size: 1.6em;
            font-weight: 800;
            width: 100%;
            margin-top: 4rem;
            margin-left: 16px;
        }
        .help__steps ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 16px 30px 31px;

            .step{
                width: 100%;
                padding: 20px 0;
                box-shadow: 0 0 10px rgba(134, 134, 134, 0.432);
                border-radius: 50px;
                margin-top: 30px;
                line-height: 40px;
                font-size: 1.1em;
                font-weight: 600;
                display: flex;
                align-items: center;
                .number{
                    display: inline-block;
                    height: 30px;
                    width: 30px;
                    background-color: #9356DC;
                    text-align: center;
                    line-height: 30px;
                    color: white;
                    font-weight: 500;
                    border-radius: 50%;
                    margin-left: -15px;
                    margin-right: 30px;
                }
                &.active{
                    .fas{
                        color: #9356DC;
                    }
                    background-color: #9256dc1c;
                }
                .fas{
                    color: gray;
                    font-size: 1.1em;
                    margin-right: 20px;
                    
                }
            }
        }
    }
    
    
}
.main {
    background-color: #f0f0f0;
    padding: 4rem 1.1rem;
    .restaurants{
        .restaurants__title{
            padding: 0 16px 30px 0;
            font-size: 2em;
            font-weight: 800;
        }
        .restaurant__card{
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(134, 134, 134, 0.432);
            .image1{
                width: 100%;
                height: 14rem;
                background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom;
            }
            .restaurant__card-body{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .text, .like{
                    margin: 20px 15px;
                    .restaurant__card-title{
                        font-size: 1.2em;
                        font-weight: 700;
                        
                    }
                    .restaurant__card-location{
                        font-size: 1.3em;
                        font-weight: 300;
                        color: gray;
                        margin-top: 5px;
                    }
                    
                }
                .like{
                    position: relative;
                    padding-right: 30px;
                    span{
                        display: inline-block;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.6em;
                        cursor: pointer;
                        transition: all 1s ease;
                        
                    }
                    .checkbox{
                        visibility: hidden;;
                    }
                    .far-heart:hover{
                        display: none;
                        & ~ .fas-heart{
                            display: block;
                        }
                    }
                    .fas-heart:hover{
                        display: block;
                    }
                    .fas-heart{
                        display: none;
                        span{
                            color: $secondary;
                        }
                    }
                    .checkbox:checked ~ .far-heart{
                        display: none;
                    }
                    .checkbox:checked ~ .fas-heart{
                        display: block;
                    }
                    
                }
            }
        }
    }
}