/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0.9em;
  font: inherit;
  vertical-align: baseline;
  font-family: "Roboto", sans-serif;
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS du loader */
.loader__container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  z-index: 9999;
  animation: desapear 1s linear forwards;
  animation-delay: 3s;
}

@keyframes desapear {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  width: 8rem;
  height: 8rem;
  text-align: center;
  line-height: 8rem;
  border: 8px solid #fdcff0;
  border-radius: 50%;
  color: #FF79DA;
  position: relative;
  box-shadow: 0 0 20px 8px grey;
}
.loader .image {
  height: 80px;
  width: 80px;
  background-color: #99E2D0;
  font-size: 4em;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  animation: ecrase 3s linear forwards;
}
.loader span {
  font-size: 4em;
  line-height: 8rem;
  color: #FF79DA;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes ecrase {
  to {
    height: 0;
  }
}
.loader::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 8rem;
  height: 8rem;
  background-color: transparent;
  border: 8px solid rgba(128, 128, 128, 0.548);
  border-radius: 50%;
  border-top-color: transparent;
  animation: rotate 5s linear infinite reverse;
}

.loader::after {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: 8rem;
  height: 8rem;
  border: 8px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  border-top-color: #FF79DA;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
/* CSS du site  */
@media (min-width: 450px) {
  .site {
    width: 450px;
    margin: 0 auto;
  }
}
.site {
  overflow: hidden;
}

.header {
  padding: 0 0 4rem 0;
}
.header .site__title {
  text-align: center;
  padding: 20px 0;
  font-size: 2.2em;
  font-weight: 900;
  font-family: "Shrikhand", cursive;
  box-shadow: 0 0 8px 3px #949494;
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 999;
}
.header .location {
  text-align: center;
  padding: 18px;
  background-color: #dadada;
  font-weight: 600;
  color: #424242;
}
.header .location span {
  margin-right: 18px;
}
.header .intro {
  background-color: #f0efef;
  display: flex;
  justify-content: space space-around;
  align-items: center;
  flex-direction: column;
  padding: 10% 15%;
}
.header .intro .intro__title {
  font-size: 1.3em;
  font-weight: 800;
  margin-bottom: 40px;
}
.header .intro .intro__text {
  text-align: center;
  margin-bottom: 40px;
  color: gray;
}
.header .intro .intro__action {
  border: none;
  padding: 18px 30px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 40px;
  font-size: 1.2em;
  color: white;
  box-shadow: 0 0 3px rgba(160, 160, 160, 0.849);
  cursor: pointer;
  text-shadow: 0 0 3px white;
}
.header .intro .intro__action:active, .header .intro .intro__action:focus {
  outline: 0;
}
.header .intro .intro__action:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  transform: scale(1.01);
}
.header .help .help__title {
  font-size: 1.6em;
  font-weight: 800;
  width: 100%;
  margin-top: 4rem;
  margin-left: 16px;
}
.header .help .help__steps ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 16px 30px 31px;
}
.header .help .help__steps ul .step {
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 0 10px rgba(134, 134, 134, 0.432);
  border-radius: 50px;
  margin-top: 30px;
  line-height: 40px;
  font-size: 1.1em;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.header .help .help__steps ul .step .number {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #9356DC;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: 500;
  border-radius: 50%;
  margin-left: -15px;
  margin-right: 30px;
}
.header .help .help__steps ul .step.active {
  background-color: #9256dc1c;
}
.header .help .help__steps ul .step.active .fas {
  color: #9356DC;
}
.header .help .help__steps ul .step .fas {
  color: gray;
  font-size: 1.1em;
  margin-right: 20px;
}

.main {
  background-color: #f0f0f0;
  padding: 4rem 1.1rem;
}
.main .restaurants .restaurants__title {
  padding: 0 16px 30px 0;
  font-size: 2em;
  font-weight: 800;
}
.main .restaurants .restaurant__card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(134, 134, 134, 0.432);
}
.main .restaurants .restaurant__card.new::after {
  content: "New";
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #99e2d0;
  color: #2b816c;
  padding: 8px 25px;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 3px;
}
.main .restaurants .restaurant__card .image1, .main .restaurants .restaurant__card .image2, .main .restaurants .restaurant__card .image3, .main .restaurants .restaurant__card .image4 {
  width: 100%;
  height: 13rem;
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.main .restaurants .restaurant__card .image2 {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position: center;
  background-position-y: 60%;
}
.main .restaurants .restaurant__card .image3 {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
}
.main .restaurants .restaurant__card .image4 {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.main .restaurants .restaurant__card .restaurant__card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.main .restaurants .restaurant__card .restaurant__card-body .text, .main .restaurants .restaurant__card .restaurant__card-body .like {
  margin: 20px 15px;
}
.main .restaurants .restaurant__card .restaurant__card-body .text .restaurant__card-title, .main .restaurants .restaurant__card .restaurant__card-body .like .restaurant__card-title {
  font-size: 1.2em;
  font-weight: 700;
}
.main .restaurants .restaurant__card .restaurant__card-body .text .restaurant__card-location, .main .restaurants .restaurant__card .restaurant__card-body .like .restaurant__card-location {
  font-size: 1.3em;
  font-weight: 300;
  color: gray;
  margin-top: 5px;
}
.main .restaurants .restaurant__card .restaurant__card-body .like {
  position: relative;
  padding-right: 30px;
}
.main .restaurants .restaurant__card .restaurant__card-body .like span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.6em;
  cursor: pointer;
  transition: all 1s ease;
}
.main .restaurants .restaurant__card .restaurant__card-body .like .checkbox {
  visibility: hidden;
}
.main .restaurants .restaurant__card .restaurant__card-body .like .far-heart:hover {
  display: none;
}
.main .restaurants .restaurant__card .restaurant__card-body .like .far-heart:hover ~ .fas-heart {
  display: block;
}
.main .restaurants .restaurant__card .restaurant__card-body .like .fas-heart:hover {
  display: block;
}
.main .restaurants .restaurant__card .restaurant__card-body .like .fas-heart {
  display: none;
}
.main .restaurants .restaurant__card .restaurant__card-body .like .fas-heart span {
  color: #9356DC;
}
.main .restaurants .restaurant__card .restaurant__card-body .like .checkbox:checked ~ .far-heart {
  display: none;
}
.main .restaurants .restaurant__card .restaurant__card-body .like .checkbox:checked ~ .fas-heart {
  display: block;
}

.footer {
  background-color: #535353;
  color: white;
  padding: 1.2rem;
}
.footer .footer__title {
  font-size: 1.4em;
  font-family: "Shrikhand", cursive;
}
.footer .footer__list {
  margin-top: 16px;
  font-size: 1.1em;
}
.footer .footer__list li {
  margin-bottom: 10px;
}
.footer .footer__list li span {
  font-size: 0.9em;
  display: inline-block;
  width: 15px;
  margin-right: 12px;
}

@media (min-width: 1200px) {
  .site {
    width: 75%;
    margin: 0 auto;
  }

  .header .help .help__title {
    text-align: center;
  }
  .header .help .help__steps ul {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .help .help__steps ul .step {
    width: 30%;
  }

  .main .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .main .restaurants .restaurants__title {
    flex-basis: 100%;
    padding: 0 16px 30px 0;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
  }
  .main .restaurants .restaurant__card {
    flex-basis: 45%;
  }
}

/*# sourceMappingURL=app.css.map */
