/* CSS du loader */
.loader__container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;;
    z-index: 9999;
    animation: desapear 1s linear forwards;
    animation-delay: 3s;
}

.loader{
    width: 8rem;
    height: 8rem;
    text-align: center;
    line-height: 8rem;
    border: 8px solid #e4e4e4;
    border-radius: 50%;
    color: #FF79DA;
    position: relative;
    box-shadow: 0 0 20px 8px grey;
    .image{
        height: 80px;
        width: 80px;
        background-color: #ffffff;
        font-size: 4em;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 100;
        animation: ecrase 3s linear forwards;
    }
    span{
        font-size: 4em;
        line-height: 8rem;
        color: #FF79DA;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
}


.loader::before{
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    border: 8px solid rgba(128, 128, 128, 0.548);
    border-radius: 50%;
    border-top-color:  transparent;
    animation: rotate 3s ease-in-out infinite reverse;
    
}
.loader::after{
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    width: 8rem;
    height: 8rem;
    border: 8px solid transparent;
    background-color: transparent;
    border-radius: 50%;
    border-top-color: #FF79DA ;
    animation: rotate 1s ease-in-out infinite;
}
.intro__action{
    border: none;
    padding: 18px 30px;
    background: linear-gradient(to bottom right, $secondary, $primary);
    border-radius: 40px;
    font-size: 1.2em;
    color: white;
    box-shadow: 0 0 3px rgba(160, 160, 160, 0.849);
    cursor: pointer;
    text-shadow: 0 0 3px white;
    &:active, &:focus{
        outline: 0;
    }
    &:hover{
        background: linear-gradient(to bottom right, $primary , $secondary);
        transform: scale(1.01);

    }
}